<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Edit Product</h1>
    <form action="" method="post">
        <input type="text" name="name" id="" placeholder="Product Name">
        <input type="text" name="price" id="" placeholder="Product Price">
        <input type="text" name="category" id="" placeholder="Product Category">
        <input type="text" name="inStock" id="" placeholder="IN STOCK">

        <button>Edit Product</button>
    </form>

</body>
</html>